<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Identifier</key>
    <string>net.nevir.xcode-templates.ios.application.tabbed-application</string>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses a tab bar. It provides a user interface configured with a tab bar controller, and view controllers for the tab bar items.</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Concrete</key>
    <true/>
    <key>Ancestors</key>
    <array>
      <string>net.nevir.xcode-templates.ios.common.storyboard-application</string>
      <string>net.nevir.xcode-templates.ios.common.core-data-application</string>
    </array>

    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>universalDeviceFamily</string>
        <key>Units</key>
        <dict>
          <!-- iPhone Specific -->
          <key>iPhone</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>en.lproj/Interface/MainStoryboard.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~iphone.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
            </dict>
          </dict>

          <!-- iPad Specific -->
          <key>iPad</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>en.lproj/Interface/MainStoryboard.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~ipad.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
            </dict>
          </dict>

          <!-- Universal Specific -->
          <key>Universal</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>en.lproj/Interface/MainStoryboard~iphone.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~iphone.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
              <key>en.lproj/Interface/MainStoryboard~ipad.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~ipad.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
            </dict>
          </dict>
        </dict>
      </dict>
    </array>

    <key>Nodes</key>
    <array>
      <string>Assets/first.png</string>
      <string>Assets/first@2x.png</string>
      <string>Assets/second.png</string>
      <string>Assets/second@2x.png</string>

      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.h:headerCommentsSlash:View controller for the first tab of ___PROJECTNAME___</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.h:interface:definition:UIViewController</string>

      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.m:headerCommentsSlash:View controller for the first tab of ___PROJECTNAME___</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.m:import:___VARIABLE_classPrefix:identifier___FirstViewController</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:initializers</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:section:View Lifecycle:viewDidLoad</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:section:View Lifecycle:didReceiveMemoryWarning</string>

      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.h:headerCommentsSlash:View controller for the second tab of ___PROJECTNAME___</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.h:interface:definition:UIViewController</string>

      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.m:headerCommentsSlash:View controller for the second tab of ___PROJECTNAME___</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.m:import:___VARIABLE_classPrefix:identifier___SecondViewController</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:initializers</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:section:View Lifecycle:viewDidLoad</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:section:View Lifecycle:didReceiveMemoryWarning</string>
    </array>

    <key>Definitions</key>
    <dict>
      <key>Assets/first.png</key>
      <dict>
        <key>Group</key>
        <string>Assets</string>
        <key>Path</key>
        <string>first.png</string>
      </dict>
      <key>Assets/first@2x.png</key>
      <dict>
        <key>Group</key>
        <string>Assets</string>
        <key>Path</key>
        <string>first@2x.png</string>
      </dict>
      <key>Assets/second.png</key>
      <dict>
        <key>Group</key>
        <string>Assets</string>
        <key>Path</key>
        <string>second.png</string>
      </dict>
      <key>Assets/second@2x.png</key>
      <dict>
        <key>Group</key>
        <string>Assets</string>
        <key>Path</key>
        <string>second@2x.png</string>
      </dict>

      <key>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.h</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___FirstViewController.m</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.h</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___SecondViewController.m</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
    </dict>

  </dict>
</plist>
