<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Identifier</key>
    <string>net.nevir.xcode-templates.ios.application.single-view-application</string>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Concrete</key>
    <true/>
    <key>Ancestors</key>
    <array>
      <string>net.nevir.xcode-templates.ios.common.storyboard-application</string>
      <string>net.nevir.xcode-templates.ios.common.core-data-application</string>
    </array>

    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>useStoryboard</string>
        <key>Units</key>
        <dict>
          <!-- Storyboard-based view controllers -->
          <key>true</key>
          <array>
            <!-- iPhone Specific -->
            <dict>
              <key>RequiredOptions</key>
              <dict>
                <key>universalDeviceFamily</key>
                <string>iPhone</string>
              </dict>

              <key>Nodes</key>
              <array>
                <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash:The primary view controller for ___PROJECTNAME___</string>
              </array>

              <key>Definitions</key>
              <dict>
                <key>en.lproj/Interface/MainStoryboard.storyboard</key>
                <dict>
                  <key>Path</key>
                  <string>MainStoryboard~iphone.storyboard</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>
              </dict>
            </dict>

            <!-- iPad Specific -->
            <dict>
              <key>RequiredOptions</key>
              <dict>
                <key>universalDeviceFamily</key>
                <string>iPad</string>
              </dict>

              <key>Nodes</key>
              <array>
                <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash:The primary view controller for ___PROJECTNAME___</string>
              </array>

              <key>Definitions</key>
              <dict>
                <key>en.lproj/Interface/MainStoryboard.storyboard</key>
                <dict>
                  <key>Path</key>
                  <string>MainStoryboard~ipad.storyboard</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>
              </dict>
            </dict>

            <!-- Universal Specific -->
            <dict>
              <key>RequiredOptions</key>
              <dict>
                <key>universalDeviceFamily</key>
                <string>Universal</string>
              </dict>

              <key>Nodes</key>
              <array>
                <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash:This view controller is shared between the iPhone and iPad storyboards.</string>
              </array>

              <key>Definitions</key>
              <dict>
                <key>en.lproj/Interface/MainStoryboard~iphone.storyboard</key>
                <dict>
                  <key>Path</key>
                  <string>MainStoryboard~iphone.storyboard</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>
                <key>en.lproj/Interface/MainStoryboard~ipad.storyboard</key>
                <dict>
                  <key>Path</key>
                  <string>MainStoryboard~ipad.storyboard</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>
              </dict>
            </dict>
          </array>

          <!-- XIB-based view controllers -->
          <key>false</key>
          <array>
            <!-- iPhone Specific -->
            <dict>
              <key>RequiredOptions</key>
              <dict>
                <key>universalDeviceFamily</key>
                <string>iPhone</string>
              </dict>

              <key>Nodes</key>
              <array>
                <string>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController.xib</string>
                <string>Application/___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
              </array>

              <key>Definitions</key>
              <dict>
                <key>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController.xib</key>
                <dict>
                  <key>Path</key>
                  <string>ViewController~iphone.xib</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>

                <key>Application/___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:section:Application Lifecycle:applicationdidFinishLaunchingWithOptions:body</key>
                <string>___I1___self.window.rootViewController = [[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___ViewController" bundle:nil];</string>
              </dict>
            </dict>

            <!-- iPad Specific -->
            <dict>
              <key>RequiredOptions</key>
              <dict>
                <key>universalDeviceFamily</key>
                <string>iPad</string>
              </dict>

              <key>Nodes</key>
              <array>
                <string>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController.xib</string>
                <string>Application/___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
              </array>

              <key>Definitions</key>
              <dict>
                <key>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController.xib</key>
                <dict>
                  <key>Path</key>
                  <string>ViewController~ipad.xib</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>

                <key>Application/___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:section:Application Lifecycle:applicationdidFinishLaunchingWithOptions:body</key>
                <string>___I1___self.window.rootViewController = [[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___ViewController" bundle:nil];</string>
              </dict>
            </dict>

            <!-- Universal Specific -->
            <dict>
              <key>RequiredOptions</key>
              <dict>
                <key>universalDeviceFamily</key>
                <string>Universal</string>
              </dict>

              <key>Nodes</key>
              <array>
                <string>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController~iphone.xib</string>
                <string>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController~ipad.xib</string>
                <string>Application/___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
              </array>

              <key>Definitions</key>
              <dict>
                <key>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController~iphone.xib</key>
                <dict>
                  <key>Path</key>
                  <string>ViewController~iphone.xib</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>
                <key>en.lproj/Interface/___VARIABLE_classPrefix:identifier___ViewController~ipad.xib</key>
                <dict>
                  <key>Path</key>
                  <string>ViewController~ipad.xib</string>
                  <key>Group</key>
                  <string>Interface</string>
                </dict>

                <key>Application/___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:section:Application Lifecycle:applicationdidFinishLaunchingWithOptions:body</key>
                <string>___I1___if ([UIDevice currentDevice].userInterfaceIdiom == UIUserInterfaceIdiomPhone)___OB1___
___I1______I1___self.window.rootViewController = [[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___ViewController~iphone" bundle:nil];
___I1______CB1___else___OB1___
___I1______I1___self.window.rootViewController = [[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___ViewController~ipad" bundle:nil];
___I1___}</string>
              </dict>
            </dict>
          </array>
        </dict>
      </dict>
    </array>

    <key>Nodes</key>
    <array>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h:headerCommentsSlash:The primary view controller for ___PROJECTNAME___</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h:interface:definition:UIViewController</string>

      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:implementation:section:View Lifecycle:viewDidLoad</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:implementation:section:View Lifecycle:didReceiveMemoryWarning</string>
    </array>

    <key>Definitions</key>
    <dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
    </dict>

  </dict>
</plist>
