<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Identifier</key>
    <string>net.nevir.xcode-templates.ios.application.single-view-application</string>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Concrete</key>
    <true/>
    <key>Ancestors</key>
    <array>
      <string>net.nevir.xcode-templates.ios.common.storyboard-application</string>
      <string>net.nevir.xcode-templates.ios.common.core-data-application</string>
    </array>

    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>universalDeviceFamily</string>
        <key>Units</key>
        <dict>
          <!-- iPhone Specific -->
          <key>iPhone</key>
          <dict>
            <key>Nodes</key>
            <array>
              <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash:The primary view controller for ___PROJECTNAME___</string>
            </array>

            <key>Definitions</key>
            <dict>
              <key>en.lproj/Interface/MainStoryboard.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~iphone.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
            </dict>
          </dict>

          <!-- iPad Specific -->
          <key>iPad</key>
          <dict>
            <key>Nodes</key>
            <array>
              <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash:The primary view controller for ___PROJECTNAME___</string>
            </array>

            <key>Definitions</key>
            <dict>
              <key>en.lproj/Interface/MainStoryboard.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~ipad.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
            </dict>
          </dict>

          <!-- Universal Specific -->
          <key>Universal</key>
          <dict>
            <key>Nodes</key>
            <array>
              <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash:This view controller is shared between the iPhone and iPad storyboards.</string>
            </array>

            <key>Definitions</key>
            <dict>
              <key>en.lproj/Interface/MainStoryboard~iphone.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~iphone.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
              <key>en.lproj/Interface/MainStoryboard~ipad.storyboard</key>
              <dict>
                <key>Path</key>
                <string>MainStoryboard~ipad.storyboard</string>
                <key>Group</key>
                <string>Interface</string>
              </dict>
            </dict>
          </dict>
        </dict>
      </dict>
    </array>

    <key>Nodes</key>
    <array>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h:headerCommentsSlash:The primary view controller for ___PROJECTNAME___</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h:interface:definition:UIViewController</string>

      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:headerCommentsSlash</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:implementation:section:View Lifecycle:viewDidLoad</string>
      <string>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m:implementation:section:View Lifecycle:didReceiveMemoryWarning</string>
    </array>

    <key>Definitions</key>
    <dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
      <key>ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
      <dict>
        <key>Group</key>
        <string>ViewControllers</string>
      </dict>
    </dict>

  </dict>
</plist>
